export(clear_remarks)
export(remark)
export(remark.)
export(remarks)
importFrom(dplyr,filter_)
importFrom(dplyr,tbl_df)
importFrom(dplyr,rbind_list)
importFrom(ensurer,ensures)
importFrom(ensurer,ensure)
importFrom(R6, R6Class)
